{% extends 'base.html.twig' %}

{% block title %}Registrarse{% endblock %}

{% block styles %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/styles/form.css') }}">
{% endblock %}

{% block main %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.name) }}
    {{ form_row(form.lastname) }}

    {{ form_row(form.plainPassword) }}

    <input type="submit" value="Registrarse">

    <p class="mt-4">¿Ya tienes una cuenta? <a href="{{ path('login') }}" class="underline text-blue-400">Inicia sesión</a></p>

    {{ form_end(form) }}
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="{{ asset('components/user-validation.js') }}"></script>
{% endblock %}