{% extends 'base.html.twig' %}

{% block title %}Registrarse{% endblock %}

{% block styles %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="/assets/styles/form.css" />
{% endblock %}

{% block main %}
    {{ form_start(form) }}
        {% for field in form %}
            <div>
                {{ form_label(field) }}
                {{ form_widget(field) }}
                {{ form_errors(field) }}
            </div>
        {% endfor %}

        <input type="submit" value="Registrarse">
    {{ form_end(form) }}

    <p>¿Ya tienes una cuenta? <a href="{{ path('login') }}">Inicia sesión</a></p>
{% endblock %}