{% extends 'base.html.twig' %}

{% block title %}Registrarse{% endblock %}

{% block styles %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="/assets/styles/form.css" />
{% endblock %}

{% block main %}
    <main>
        {{ form_start(form) }}
            {{ form_widget(form) }}

            <input type="submit" value="Registrarse">
        {{ form_end(form) }}

        <p>¿Ya tienes una cuenta? <a href="{{ path('login') }}">Inicia sesión</a></p>
    </main>
{% endblock %}