{% extends 'base.html.twig' %}

{% block title %}Cartas{% endblock %}

{% block styles %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <article class="w-full px-6 py-8 flex flex-col gap-8 md:flex-row max-w-6xl bg-white dark:bg-gray-800 rounded-xl border border-gray-300 dark:border-gray-700 overflow-hidden">
        <figure class="rounded-lg w-full md:w-2/5 bg-black bg-center bg-no-repeat bg-contain min-h-[400px]"
                style="background-image: url('{{ asset('/assets/images/card/' ~ card.image) }}');"
                role="img">
        </figure>

        <section class="w-full md:w-3/5 flex flex-col gap-6">
            <section class="flex justify-between items-center border-gray-300 dark:border-gray-600 pb-4">
                <h1 class="text-2xl font-bold text-gray-800 dark:text-gray-100">{{ card.name }}</h1>

                <data class="flex flex-row gap-2 items-center text-xl font-semibold text-black-600 dark:white">
                    <span>{{ card.health }}</span>

                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                        <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
                    </svg>
                </data>
            </section>

            <section>
                <h2 class="text-lg font-semibold text-gray-700 dark:text-gray-300 mb-4">Habilidades</h2>

                <dl class="space-y-4">
                    {% for ability in card.abilities %}
                        <dt class="grid grid-cols-[1fr_0.5fr] text-md font-semibold text-gray-800 dark:text-gray-100 mb-2">
                            <span>{{ ability.name }}</span>

                            <div class="grid grid-cols-2 gap-8 justify-self-end">
                                <data class="flex flex-row gap-2 items-center text-xl font-semibold text-black-600 dark:text-white-400">
                                    <span>{{ ability.cost }}</span>

                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                        <path fill-rule="evenodd" d="M14.615 1.595a.75.75 0 0 1 .359.852L12.982 9.75h7.268a.75.75 0 0 1 .548 1.262l-10.5 11.25a.75.75 0 0 1-1.272-.71l1.992-7.302H3.75a.75.75 0 0 1-.548-1.262l10.5-11.25a.75.75 0 0 1 .913-.143Z" clip-rule="evenodd" />
                                    </svg>
                                </data>

                                <data class="flex flex-row gap-2 items-center text-xl font-semibold text-black-600 dark:text-white-400">
                                    <span>{{ ability.value }}</span>

                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                        <path fill-rule="evenodd" d="M9 4.5a.75.75 0 0 1 .721.544l.813 2.846a3.75 3.75 0 0 0 2.576 2.576l2.846.813a.75.75 0 0 1 0 1.442l-2.846.813a3.75 3.75 0 0 0-2.576 2.576l-.813 2.846a.75.75 0 0 1-1.442 0l-.813-2.846a3.75 3.75 0 0 0-2.576-2.576l-2.846-.813a.75.75 0 0 1 0-1.442l2.846-.813A3.75 3.75 0 0 0 7.466 7.89l.813-2.846A.75.75 0 0 1 9 4.5ZM18 1.5a.75.75 0 0 1 .728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 0 1 0 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 0 1-1.456 0l-.258-1.036a2.625 2.625 0 0 0-1.91-1.91l-1.036-.258a.75.75 0 0 1 0-1.456l1.036-.258a2.625 2.625 0 0 0 1.91-1.91l.258-1.036A.75.75 0 0 1 18 1.5ZM16.5 15a.75.75 0 0 1 .712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 0 1 0 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 0 1-1.422 0l-.395-1.183a1.5 1.5 0 0 0-.948-.948l-1.183-.395a.75.75 0 0 1 0-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0 1 16.5 15Z" clip-rule="evenodd" />
                                    </svg>
                                </data>
                            </div>
                        </dt>
                        <dd class="grid grid-cols-1 md:grid-cols-5 gap-2">
                            <p class="col-span-3 text-sm text-gray-600 dark:text-gray-300">{{ ability.description }}</p>

                            <span class="col-span-2 justify-self-end">
                                <button onclick="document.getElementById('dialog-{{ loop.index }}').showModal()"
                                        class="text-blue-600 dark:text-blue-400 hover:text-blue-400 cursor-pointer text-sm font-medium">{{ ability.category.name }}</button>

                                <dialog id="dialog-{{ loop.index }}"
                                        class="fixed inset-0 m-auto w-full max-w-md rounded-lg p-6 bg-white dark:bg-gray-900 border border-gray-300 dark:border-gray-700 backdrop:bg-black/30">
                                    <h1 class="text-lg font-bold text-gray-900 dark:text-white mb-2">{{ ability.category.name }}</h1>

                                    <p class="text-sm text-gray-700 dark:text-gray-300">{{ ability.category.description }}</p>
                                </dialog>
                            </span>
                        </dd>
                    {% endfor %}
                </dl>
            </section>

            <section>
                <h2 class="text-lg font-semibold text-gray-700 dark:text-gray-300 mb-4">Descripción</h2>

                <p class="text-sm text-gray-600 dark:text-gray-400 leading-relaxed">{{ card.description }}</p>
            </section>
        </section>

        <script>
            document.querySelectorAll("dialog").forEach((dialog) => {
                dialog.addEventListener("click", (e) => {
                    const dialogRect = dialog.getBoundingClientRect();
                    const clickedOutside =
                        e.clientX < dialogRect.left ||
                        e.clientX > dialogRect.right ||
                        e.clientY < dialogRect.top ||
                        e.clientY > dialogRect.bottom;

                    if (clickedOutside) {
                        dialog.close();
                    }
                });
            });
        </script>
    </article>
{% endblock %}
