{% extends 'base.html.twig' %}

{% block title %}Cartas{% endblock %}

{% block styles %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/styles/components/card.css') }}">
{% endblock %}

{% block main %}
    <main class="card__layout">
        <figure class="card-layout__image" role="img"></figure>

        <section class="card-layout__information">
            <header>
                <h1>{{ card.name }}</h1>

                <data>{{ card.health }}</data>
            </header>

            <section>
                <h2>Habilidades</h2>

                <dl class="card-information__abilities">
                    {% for ability in card.abilities %}
                        <dt>{{ ability.name }}</dt>
                        <dd>{{ ability.description }}</dd>
                    {% endfor %}
                </dl>
            </section>

            <section>
                <h2>Descripción</h2>

                <p>{{ card.description }}</p>
            </section>
        </section>
    </main>
{% endblock %}
