{% extends 'base.html.twig' %}

{% block title %}Cartas{% endblock %}

{% block styles %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/styles/components/card-deck.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/styles/components/card.css') }}">
{% endblock %}

{% block main %}
    <main class="main-content">
        <section class="card-deck">
            {% for card in cards %}
                <a href="{{ path('card', { id: card.id }) }}" class="link__clicker">
                    <article class="card">
                        <figure class="card__image" role="img">
                            <data class="card__index"></data>
                        </figure>

                        <data class="card__health">{{ card.health }}</data>

                        <h4 class="card__name">{{ card.name }}</h4>

                        <ul class="card__abilities">
                            {% for ability in card.abilities %}
                                <li class="card__abilities__ability">{{ ability.name }}</li>
                            {% endfor %}
                        </ul>

                        <p class="card__description">{{ card.description }}</p>
                    </article>
                </a>
            {% endfor %}
        </section>
    </main>
{% endblock %}
