{% extends 'base.html.twig' %}

{% block title %}Cartas{% endblock %}

{% block styles %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/styles/card.css') }}">
{% endblock %}

{% block main %}
    <section class="w-full px-4 py-8">
        <div class="grid grid-cols-2 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-6">
            {% for card in cards %}
                <a href="{{ path('card', { id: card.id }) }}">
                    <article class="card aspect-[0.7] flex flex-col bg-white dark:bg-gray-800 rounded-xl overflow-hidden border border-gray-300 dark:border-gray-700">

                        <figure class="h-52 bg-black bg-center bg-no-repeat bg-contain" style="background-image: url('{{ asset('/assets/images/content/cards/' ~ card.image) }}');">
                            <data class="block p-1 text-xs text-white"></data>
                        </figure>

                        <div class="p-4 flex flex-col gap-2">
                            <data class="text-sm font-semibold text-red-600 dark:text-red-400 bg-red-100 dark:bg-red-900 px-2 py-1 rounded-full self-start">
                                {{ card.health }} ❤️
                            </data>

                            <h4 class="text-lg font-bold text-gray-800 dark:text-gray-100">
                                {{ card.name }}
                            </h4>
                        </div>
                    </article>
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}
