{% extends 'base.html.twig' %}

{% block title %}Listado de habilidades{% endblock %}

{% block main %}
    <a href="{{ path('administration_ability_create') }}">Crear habilidad</a>

    <table>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Coste</th>
{#            <th>Tipo</th>#}
            <th>Acciones</th>
        </tr>

        {% for ability in abilities %}
            <tr>
                <td>{{ ability.name }}</td>
                <td>{{ ability.description }}</td>
                <td>{{ ability.cost }}</td>
{#                <td>{{ ability.type }}</td>#}
                <td>
                    <a href="{{ path('administration_ability_edit', { id: ability.id }) }}">Editar</a>
                    <a href="{{ path('administration_ability_delete', { id: ability.id }) }}">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
